@import "../../variables";

.container_gray {
  padding: 48px;
  background-color: $light_bg;
  width: 30%;

  @media (max-width: 990px) {
    width: auto;
  }
}

.aside-blocks {
  @media (max-width: 990px) {
    display: flex;
    flex-wrap: wrap;
  }
}
